body {
    margin: 0;
    font-family: 'Vazirmatn', sans-serif;
    background-color: #0b0b0b;
    color: #e0e0e0;
    line-height: 1.8;
}

header {
    text-align: center;
    padding: 40px;
    background: linear-gradient(145deg, #000, #111);
    border-bottom: 1px solid #222;
}

header h1 {
    font-size: 48px;
    color: #00ffc3;
    letter-spacing: 4px;
}

header span {
    color: #aaa;
}

.skills {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.skills h2 {
    color: #00ffc3;
    border-left: 4px solid #00ffc3;
    padding-left: 10px;
}

details {
    background-color: #111;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #222;
    transition: 0.3s;
}

details:hover {
    background-color: #151515;
}

summary {
    font-size: 18px;
    color: #fff;
}

pre {
    background-color: #000;
    color: #00ff88;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #111;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #222;
    color: #777;
}